.flex {
  display: flex;
  align-items: center;
  gap: 20.36px;
  margin-bottom: 26px;
}

.flex p {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 29.3022px;
  color: #ffffff;
}

.desc {
  max-width: 592px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25.1231px;
  line-height: 107.1%;
  color: #ffffff;
}

@media (max-width: 768px){
  .flex{
    margin-bottom: 20px;
  }
  .flex p{
    font-size: 25px;
  }
  .desc{
    font-size: 18px;
    line-height: 130%;
  }
}

@media (max-width: 481px){
  .flex{
    margin-bottom: 7px;
    gap: 10px;
  }
  .flex img{
    width: 35px;
    height: 35px;
  }
  .flex p{
    font-size: 18px;
  }
  .desc{
    font-size: 16px;
  }
}
