:root {
  --white: #ffff;
}

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #090B1D;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

/* Cards Gradient border */
.neon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(135.61deg, #29e8e7 0%, #3cf989 99.48%);
  border-radius: 18px;
}
.sun::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(135.61deg, #FF9001 0%, #E613ED 99.48%);
  border-radius: 18px;
}