.main {
  height: 100vh;
  width: 100%;
}

.main .hero {
  /* display: flex; */
  padding: 250px 210px 0;
  position: relative;
}

.main .hero .txt {
  position: relative;
  z-index: 1;
}

.main .hero .txt h1 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 101.507px;
  line-height: 109px;
  color: #ffffff;
  max-width: 918px;
  margin-bottom: 22px;
}

.main .hero .txt h1 > span {
  color: #9324ff;
}

.main .hero .txt p {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27.1839px;
  line-height: 35px;
  color: #ffffff;
  max-width: 486px;
  margin-bottom: 38px;
}

.main .hero .txt button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 60px;
  background: #7b00f2;
  border-radius: 6.14593px;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19.0288px;
  color: #ffffff;
  transition: all 0s ease-in-out;
}

.main .hero .txt button:hover, .main .hero .txt button:focus {
  -webkit-box-shadow: 0px 0px 77px 6px rgba(121, 0, 242, 0.8);
  -moz-box-shadow: 0px 0px 77px 6px rgba(121, 0, 242, 0.8);
  box-shadow: 0px 20px 77px 6px rgba(121, 0, 242, 0.8);
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.main .hero img {
  position: absolute;
  bottom: -150px;
  right: 70px;
}

@media (max-width: 1280px) {
  .main .hero {
    padding: 250px 140px 0;
  }

  .main .hero .txt h1 {
    font-size: 90px;
    line-height: 90px;
    max-width: 100%;
  }

  .main .hero .txt p {
    font-size: 23px;
    line-height: 28px;
  }

  .main .hero img {
    bottom: -105px;
    right: 2px;
  }
}

@media (max-width: 768px) {
  .main .hero {
    padding: 221px 30px 0;
  }
  .main .hero .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .hero .txt h1 {
    font-size: 80px;
    line-height: 90px;
    max-width: 100%;
    text-align: center;
  }
  .main .hero .txt p {
    font-size: 23px;
    line-height: 28px;
    text-align: center;
  }

  .main .hero img {
    bottom: -91px;
    right: 30px;
  }
}

@media (max-width: 481px) {
  .main .hero .txt h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .main .hero .txt p {
    font-size: 18px;
    line-height: 20px;
  }

  .main .hero .txt button {
    font-size: 18px;
  }
  .main .hero img {
    bottom: -212px;
  }
}
